<?xml version="1.0" encoding="ISO-8859-1"?>
<root>
	<item id="Title"><![CDATA[Style]]></item>
	<item id="Data">
		<item id="name"><![CDATA[´ó×ªÅÌ]]></item>
		<item id="version"><![CDATA[v2.0]]></item>
		<item id="tplname"><![CDATA[Ä¬ÈÏÄ£°åÌ×Ïµ]]></item>
		<item id="directory"><![CDATA[default]]></item>
		<item id="copyright"><![CDATA[ÔÆÏí»ã]]></item>
		<item id="author"><![CDATA[×íÎÔºìÂ¥]]></item>
		<item id="style">
	
		</item>
	</item>
</root>